<html>
<head>
<title>Registro Cliente</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/operacion_style3.css') }}">
<ul>
    
  <li><a href="{{url_for('index')}}">Home</a></li>
  <li><a href="{{url_for('registrocliente')}}">Consultar Ultimas operaciones</a></li>
  <li><a href="{{url_for('venta')}}">Realizar operacion con otro cliente</a></li>
  <li><a href="{{url_for('infocliente')}}">Informacion de Cliente</a></li>
</ul>
</head>
 

</head>
 
<body>
<h3>OPERACION DE VENTA</h3>
</div>


  


<table align="center" cellpadding = "10">
<!----- obtencion del nombre del cliente para mostrar en pantalla------>

<!----- DNI ---------------------------------------------------------->
  </header>
  
  <section class="main">
    <div class="form">
    

   
      
      <!-- Formulario para recibir los parámetros  -->
      <form method = "GET" action="{{url_for('operacion')}}">
        
        <br>
        <br>
        <h3><h2>¡OPERACIÓN REALIZADA CON EXITO!: <h3></h3>
        <br>
        <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">REALIZAR NUEVA OPERACION</button<h2></h2> 
   
      </form>
    </div>
  </section>

