<html>
<head>
<title>Registro Cliente</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/operacion_style.css') }}">
<ul>
    
  <li><a href="{{url_for('index')}}">Home</a></li>
  <li><a href="{{url_for('operaciones')}}">Consultar operaciones</a></li>
  <li><a href="{{url_for('venta')}}">Realizar operacion con otro cliente</a></li>
  <li><a href="{{url_for('infocliente')}}">Informacion de Cliente</a></li>
</ul>
</head>
 

</head>
 
<body>
<h3>OPERACION DE VENTA</h3>
</div>


  


<table align="center" cellpadding = "10">
<!----- obtencion del nombre del cliente para mostrar en pantalla------>

<!----- DNI ---------------------------------------------------------->
  </header>
  
  <section class="main">
    <div class="form">
      <h3><h2>Cliente :        {{nombre_cliente}}</h2></h3>
      <h3><h2>Seleccione la cantidad de cada producto que desea registrar en la operación : <h3></h3>
      
      
      <!-- Formulario para recibir los parámetros  -->
      <form method = "POST" action="{{url_for('operacion')}}">
        
        <tr>
        <td> Canasto ropa</td>
        <td><input type="number" name="canasto_ropa"   placeholder="" min="1" max="{{total_stock_canasto_ropa}}"/> 
          (max stock disponible:)  {{total_stock_canasto_ropa}} 
        <tr>
        <td> Canasto matero</td>
        <td><input type="number" name="canasto_matero" placeholder="" min="1" max="{{total_stock_canasto_matero}}"  />
          (max stock disponible:)  {{total_stock_canasto_matero}} 
        <tr>
        <td> Bandejas exhibidoras</td>
        <td><input type="number" name="bandejas_exhibidoras" placeholder="" min="1" max="{{total_stock_bandejas_exhibidoras}}"/>
          (max stock disponible:)  {{total_stock_bandejas_exhibidoras}} 
        <tr>
        <td> Bandejas pintadas</td>
        <td><input type="number" name="bandejas_pintadas" placeholder="" min="1" max="{{total_stock_bandejas_pintadas}}" />
          (max stock disponible:)  {{total_stock_bandejas_pintadas}} 
        <tr>
        <td> Anillos</td>
        <td><input type="number" name="anillos" placeholder="" min="1" max="{{total_stock_anillos}}" />
          (max stock disponible:)  {{total_stock_anillos}} 
        <tr>
        <td> Paneritas base de mimbre</td>
        <td><input type="number" name="paneritas_mimbre" placeholder="" min="1" max="{{total_stock_paneritas_mimbre}}"  />
          (max stock disponible:)  {{total_stock_paneritas_mimbre}} 
        <tr>
        <td> Paneritas base de madera</td>
        <td><input type="number" name="paneritas_madera" placeholder="" min="1" max="{{total_stock_paneritas_madera}}" />
          (max stock disponible:)  {{total_stock_paneritas_madera}} 
        <tr>
        

                 
        <td><h2><button type="submit" class="btn btn-primary btn-block btn-large">REGISTRAR VENTA</button<h2> 
        <tr>   
      </form>
    </div>
  </section>

