<html>
<head>
<title>Registro Cliente</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/operacion_style.css') }}">
<ul>
    
  <li><a href="{{url_for('index')}}">Home</a></li>
  <li><a href="{{url_for('registrocliente')}}">Base de Datos de Clientes</a></li>

</ul>
</head>
 

</head>
 
<body>
<h3>REGISTRO NUEVO CLIENTE</h3>
</div>



<table align="center" cellpadding = "10">
<!----- DNI ---------------------------------------------------------->
<section class="main">
  <div class="form">
    

      <!-- Formulario para recibir los parámetros  -->
      <form method = "POST" action="{{url_for('registrocliente')}}">
        <tr>
        <td> DNI</td>
        <td><input type="number" name="dni" placeholder="" required="required" />
        <tr>
        <td> NOMBRE</td>
        <td><input type="text" name="nombre" placeholder="" required="required" />
        <tr>
        <td> APELLIDO</td>
        <td><input type="text" name="apellido" placeholder="" required="required" />
        <tr>
        <td> TELEFONO</td>
        <td><input type="number" name="telefono" placeholder="" required="required" />
        <tr>
        <td> DIRECCION</td>
        <td><input type="text" name="direccion" placeholder="">
        <tr>  
        <td><button type="submit" class="btn btn-primary btn-block btn-large">Registrar</button>
      </form>

