<section class="main">
    <div class="form">
      <form method = "POST" action="{{url_for('registrocliente')}}" >
        <tr>
        <td>DNI</td>
        <td><input type="text" name="dni" maxlength="6" required="required"  />
        (6 digitos )
    </td>
    </tr> 
    <!----- First Name ---------------------------------------------------------->
    <div class="form">
      <form method = "POST" action="{{url_for('registrocliente')}}" >
        <tr>
        <td> NOMBRE</td>
        <td><input type="text" name="nombre" maxlength="30" />
        (max 30 characters a-z and A-Z)
    </td>
    </tr>
    
    <!----- Last Name ---------------------------------------------------------->
    <div class="form">
      <form method = "POST" action="{{url_for('registrocliente')}}" >
        <tr>
        <td>APELLIDO</td>
        <td><input type="text" name="apellido" maxlength="30" />
        (max 30 characters a-z and A-Z)
    </td>
    </tr>
    <!----- Telefono ---------------------------------------------------------->
    <div class="form">
      <form method = "POST" action="{{url_for('registrocliente')}}" >
        <tr>
        <td> TELEFONO</td>
        <td><input type="text" name="telefono" maxlength="30"/>
        (max 30 characters a-z and A-Z)
    </td>
    </tr>
    <!----- Address ---------------------------------------------------------->
    <div class="form">
      <form method = "POST" action="{{url_for('registrocliente')}}" ></form>
        <tr>
        <td>DIRECCION <br /><br /><br /></td>
        <td><textarea name="direccion" rows="4" cols="30"></textarea></td>
    </tr>
  
    
    <!----- Submit and Reset ------------------------------------------------->
    <div class="form"></div>
      <form method = "POST" action="{{url_for('registrocliente')}}" ></form>
        <tr>
        <td colspan="2" align="center">
          <button type="submit" class="btn btn-primary btn-block btn-large">Registrar</button>>
        
        </td>
        </tr>
  </table>
   
  </form>
   
  </body>
  </html>





  
<tr>
    <td>Canasto de Ropa</td>
     
    <td>
    <select name="Cantidad" id="Cantidad">
    <option value="-1">Cantidad:</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
     
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
     
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
     
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
     
    <option value="31">31</option>
    </select>
    <tr>
    <td>Canasto Matero</td>
     
    <td>
    <select name="Cantidad" id="Cantidad">
    <option value="-1">Cantidad:</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
     
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
     
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
     
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
     
    <option value="31">31</option>
    </select>
    <tr>
    
    <tr>
    <td>Bandejas Exhibidoras</td>
     
    <td>
    <select name="Cantidad" id="Cantidad">
    <option value="-1">Cantidad:</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
     
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
     
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
     
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
     
    <option value="31">31</option>
    </select>
    <tr>
    <td>Paneritas Base de Mimbre</td>
     
    <td>
    <select name="Cantidad" id="Cantidad">
    <option value="-1">Cantidad:</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
     
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
     
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
     
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
     
    <option value="31">31</option>
    </select>
    <tr>
    <td>Anillos</td>
     
    <td>
    <select name="Cantidad" id="Cantidad">
    <option value="-1">Cantidad:</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
     
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
     
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
     
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
     
    <option value="31">31</option>
    </select>
    <tr>
    <td>Paneritas Base de Mimbre</td>
     
    <td>
    <select name="Cantidad" id="Cantidad">
    <option value="-1">Cantidad:</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
     
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
     
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
     
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
     
    <option value="31">31</option>
    </select>
    <tr>
    <td>Paneritas base de Madera</td>
     
    <td>
    <select name="Cantidad" id="Cantidad">
    <option value="-1">Cantidad:</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
     
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
     
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
     
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
     
    <option value="31">31</option>
    </select>
    <tr>
    
    <!----- Submit and Reset ------------------------------------------------->
    <tr>
    <td colspan="2" align="center">
    <input type="submit" value="Comprar">
    <input type="reset" value="Reset">
    </td>
    </tr>
    </table>
     
    </form>
     
    </body>
    </html>